<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="currentPessoa">
    <div  class="col-sm-2">
        <img src="https://gitmaratonadev.stefanini.com.br/imagem/logo_stf2.png" alt="Logo Stefanini" style="width: 50px; margin-left: 72%">
        <br>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" style="font-weight: bold; color: black" routerLink="/">Home</a>
        <a class="nav-item nav-link" style="font-weight: bold; color: black" routerLink="/listar">Usuarios</a>
        <a class="nav-item nav-link" style="font-weight: bold; color: black" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
