<h3 xmlns="http://www.w3.org/1999/html">Olá {{currentPessoa.nome}}!</h3>
<nav>
    <ol>
        <li class="breadcrumb-item active" aria-current="page">Gráfico de infecção Covid-19 no DF</li>
    </ol>
</nav>
<div class="container">
    <h5 class="card-header">Separados Por Grupo</h5>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td><canvas id="chartIdade"></canvas></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td><canvas id="chartTipoTeste"></canvas></td>
                </tr>
                </tbody>
            </table>
        </div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><canvas id="chartEstadoTeste"></canvas></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><canvas id="chartSexo"></canvas></td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
